$width: 100%;
$innerWidth: 95%;
$innerHeight: 95%;
$height: 100%;

@mixin display($flex: flex, $direction: row, $content: center, $align: center) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin txtStyle($color, $f-size, $f-weight, $l-height, $f-style) {
  color: $color;
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
  font-style: $f-style;
}

@mixin scrollbarStyle($trackColor, $thumbColor) {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 10px;
    border: 3px solid $trackColor;
    height: 5px;
  }
}

.container {
  border-radius: 10px;
  background-color: rgba(183, 183, 232, 0.85);
  padding: 1%;
  overflow: hidden;

  .assignment-main-block {
    width: $width;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.84);

    .assignment-inner-block {
      width: $width;
      height: 100%;
      overflow: auto;
      @include scrollbarStyle(rgba(187, 182, 182, 0.84), rgba(35, 35, 35, 0.68));

      .assignment-table {
        flex: 1;
        width: $width;

        table {
          width: $width;

          .dueDate{
            color: rgba(231, 120, 120, 0.7);
          }

          .submission-header {
            width: $width;
            height: 40px;
            @include display();

            span {
              @include txtStyle(rgba(105, 101, 101, 0.56), 18px, 500, 14px, normal);
            }
          }

          .submission-description {
            width: $width;
            height: 100px;
            @include display(flex, row, flex-start, flex-start);

            .desc-header {
              width: 10%;
              height: $height;

              span {
                @include txtStyle(rgb(82, 78, 78), 15px, 500, 14px, normal);
              }
            }

            .desc-block {
              flex: 1;
              height: $height;

              p {
                @include txtStyle(rgb(77, 71, 71), 15px, 350, 13px, normal);
              }
            }
          }

          .submission-btn-bars {
            width: $width;
            height: 50px;
            @include display();

            .attach-block {
              width: 40%;
              height: $height;
              @include display(flex, row, flex-start, center);

              input[type=file]::file-selector-button {
                border-radius: 4px;
                color: white;
                border: none;
                background-color: #12a688;
                text-align: center;
                padding: 10px;
                width: 50%;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
              }

              input[type=file]::file-selector-button:hover {
                background-color: #008350;
              }
            }

            .ops-block {
              flex: 1;
              height: $height;
              @include display(flex, row, flex-end, center);

              .ops-btn {
                border-radius: 4px;
                color: white;
                border: none;
                text-align: center;
                padding: 20px;
                width: 20%;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
              }
            }
          }
        }
      }
    }
  }
}
