$width: 100%;
$height: 100%;

@mixin display($flex: flex, $direction: row, $content: center, $align: center) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin txtStyle($color, $f-size, $f-weight, $l-height, $f-style) {
  color: $color;
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
  font-style: $f-style;
}

.course-header {
  width: $width;
  height: 50px;
  @include display();

  .head-title {
    width: 25%;
    height: $height;
    @include display(flex, row, flex-start, center);

    span {
      @include txtStyle(rgb(31, 30, 30), 36px, 500, 14px, normal);
    }
  }

  .btn-bar {
    flex: 1;
    height: $height;
    @include display(flex, row, flex-end, center);

    .inner-btn-bar {
      width: 70%;
      height: $height;
      @include display(flex, row, flex-end, center);

      .br-btn-manage {
        border-radius: 4px;
        background-color: rgb(91, 121, 218);
        border: none;
        text-align: center;
        padding: 20px;
        width: 30%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;


        span {
          cursor: pointer;
          @include display(inline-block, none, none, none);
          @include txtStyle(white, 14px, 500, 14px, normal);
          position: relative;
          transition: 0.5s;
        }

        span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }

        &:hover span {
          padding-right: 25px;
        }

        &:hover span:after {
          opacity: 1;
          right: 0;
        }
      }

      .br-btn-assignment {
        border-radius: 4px;
        background-color: rgba(66, 171, 192, 0.85);
        border: none;
        text-align: center;
        padding: 20px;
        width: 30%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;


        span {
          cursor: pointer;
          @include display(inline-block, none, none, none);
          @include txtStyle(white, 14px, 500, 14px, normal);
          position: relative;
          transition: 0.5s;
        }

        span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }

        &:hover span {
          padding-right: 25px;
        }

        &:hover span:after {
          opacity: 1;
          right: 0;
        }
      }

      .new-c-btn {
        border-radius: 4px;
        background-color: rgb(163, 103, 222);
        border: none;
        text-align: center;
        padding: 20px;
        width: 34%;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        @include txtStyle(white, 14px, 500, 12px, normal);
      }
    }
  }
}

.table-view {
  margin-top: 6%;
  width: $width;
  overflow: hidden;

}
