<div class="container" style="display: flex; justify-content: center;">
  <div class="login-outer-box">
    <div class="title-area">
      <span><b>S</b>ign Up</span>
    </div>
    <div class="login-area">
      <form>
        <div class="form-group">
          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label>Enter your email</mat-label>
            <input matInput
                   placeholder="Ex: pat@example.com"
                   [formControl]="email"
                   (blur)="updateErrorMessage()"
                   required
            >
            <mat-error *ngIf="email.valid">{{errorMessage}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
                   [formControl]="password"

            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-raised-button class="login-btn" (click)="login()">Log in</button>
          <button mat-raised-button routerLink="/register" class="acc-btn">Don't have an account</button>
        </div>
      </form>
    </div>
  </div>
</div>
