<div class="container" style="margin-top: 3%">
  <div class="user-header">
    <div class="head-title">
      <span>User Management</span>
    </div>
    <div class="btn-bar">
      <div class="inner-btn-bar">
        <button mat-raised-button class="br-btn" style="vertical-align:middle"
                routerLink="/dashboard/home/courses/all">
          <span>Courses</span>
        </button>
        <button mat-raised-button class="br-btn" style="vertical-align:middle"
                routerLink="/dashboard/home/assignments/all">
          <span>Assignments</span>
        </button>
      </div>
    </div>
  </div>
  <div class="table-view">
    <router-outlet></router-outlet>
  </div>
</div>
