<div class="container" style="display: flex; justify-content: center;">
  <div class="outer-update-lesson">
    <div class="title-area">
      <span>Update Lesson</span>
    </div>
    <form>
      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>Lesson Title</mat-label>
          <input matInput
                 [formControl]="titleControl"
                 placeholder="Ex: introduce programing (max length 20)"
                 maxlength="20"
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-mat-form-field">
          <mat-label>lessons</mat-label>
          <textarea matInput
                    [formControl]="descriptionControl"
                    placeholder="Ex;lessons description "
                    maxlength="255"
                    class="form-field-text-area"

          ></textarea>
        </mat-form-field>
        <div class="btn-update-block">
          <button mat-raised-button class="update-btn" [disabled]=
            "descriptionControl.invalid || titleControl.invalid || loading" (click)="updateBtn()">
            Update Lesson
          </button>
        </div>
      </div>
    </form>
  </div>
</div>



